---
layout: default
---
<div class="container">
  <div id="about-purpl">
    <h3>About PurPL</h3>
    {% for post in site.categories.aboutpurpl %}
      {{ post.content }}
    {% endfor %}
  </div>
  <div id="news">
    <h3>News</h3>
    <div id="news-roll">
    {% for post in site.categories.news %}
      {{ post.content }}
    {% endfor %}
    </div>
  </div>
</div>


<h3 id="people">People</h3>
<div class="container">
  <div id="faculty-cards">
    <h4>Faculty</h4>
    {% assign i = 0 %}
    {% for post in site.categories.facultycard %}
      {% assign k = i | modulo: 4 %}
      {% if k == 0 %}
        <div class="container cards-container">
      {% endif %}
        <div class="facultycard">
          {{ post.content}}
        </div>
      {% if k == 3 %}
        </div>
      {% endif %}
      {% assign i = i | plus: 1 %}
    {% endfor %}
    {% if k != 3 %}
      </div>
    {% endif %}
  </div>
</div>

<div class="container">
    <h4>Post-docs and grad students</h4>
</div>
